body {
	color: rgb(51, 51, 51);
	padding-top: 50px;
	padding-bottom: 20px;
}

.cell1 {
	width: 10%;
	float: left;
}

.cell2 {
	width: 50%;
	float: left;
}

.cell3, .cell4 {
	width: 20%;
	float: left;
}

.row {
	border-bottom: 1px solid #e5e5e5;
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    cursor: pointer;
    padding: 12px;
}

.row:hover{
    background: #f2f2f2;
}






